@import "variables";

.symbol-explorer
{
    font-size: 11px;
    font-weight: 400;
    color: @text-color-subtle;
    user-select: none;
    background: @pane-content-background-color;
    display: flex;
    flex-direction: column;

    .symbol-explorer-header
    {
        height: 25px;
        line-height: 24px;
        color: @text-color-subtle;
        font-size: 11px;
        padding: 0 10px;
        background: @pane-background-color;
        border-bottom: 1px solid @pane-border-color;
    }

    .list-container
    {
        flex: 1;
        padding: 4px 0;
        overflow: auto;
    }

    .list-tree
    {
        margin: 0;
        list-style: none;
        padding: 0;

        &.full-menu
        {
            position: relative;
            isolation: isolate;
            padding: 0 10px 0 7px;
        }

        li.list-nested-item > .list-item
        {
            line-height: 26px;
            cursor: default;

            .name
            {
                flex: 1;
                padding-right: 10px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }

    .list-tree.has-collapsable-children
    {
        .list-nested-item > .list-tree > li
        {
            padding-left: 17px;
            line-height: 26px;
            cursor: default;

            .name
            {
                flex: 1;
                padding-right: 10px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }

    .category.expanded
    {
        > .header > .caret
        {
            transform: rotate(90deg);
        }
    }

    .caret
    {
        width: 12px;
        height: 12px;
        margin: 0 6px 0 0;
        background: url('via://symbol-explorer/images/caret.svg') 0 0 no-repeat;
        background-size: 12px auto;
        transition: all ease 0.15s;
    }

    .favorite-icon
    {
        width: 10px;
        height: 10px;
        margin: 0 8px 0 0;
        border: 2px solid rgba(255, 255, 255, 0.3);
        border-radius: 5px;
    }

    .unavailable-icon
    {
        width: 15px;
        height: 14px;
        margin-left: 10px;
        background: url('via://symbol-explorer/images/caution.svg') 1px 1px no-repeat;
        background-size: 13px auto;
        display: none;
    }

    .header
    {
        display: flex;
        align-items: center;
        position: relative;
    }

    .source
    {
        font-size: 10px;
        font-weight: 500;
        color: fade(@text-color-subtle, 50%);
    }

    .favorite
    {
        .favorite-icon
        {
            border-color: @primary-color;
            background-color: @primary-color;
        }
    }

    .list-tree .selected
    {
        &::before
        {
            position: absolute;
            left: 0;
            right: 0;
            height: 26px;
            background: #333;
            content: "";
        }

        > .header > .name, > .name
        {
            // color: #000;
        }
    }

    .status-unavailable
    {
        .name
        {
            color: #666;
        }

        .last
        {
            display: none;
        }

        .unavailable-icon
        {
            display: block;
        }
    }
}
