@import "ui-variables";

.watchlist
{
    .toolbar
    {
        // background: #181818;
        padding: 10px;
        height: 45px;
        // border-top: 1px solid #111;
        border-bottom: 1px solid #0b0b0b;

        .toolbar-search
        {
            flex: 1;
        }
    }
}
